.App {
  font-family: sans-serif;
  text-align: center;
}

html{
  box-sizing: border-box
}

*,*:before,*:after{
  box-sizing: border-box
}

body{
  margin:0;
  padding: 0;
}

li{
  list-style-type: none;
  border:1px solid;
  margin:10px;
}

.Container{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.searchResult ul{
    display: grid;
}
ul{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(160px ,1fr))
}

.searchResult h3{
  width:80%;
text-align: left;
padding-left: 2%;
}

.rating{
text-align: right;
padding-right: 4px;
}

.restStyle{
  text-align: left;
  padding-left:4px;
}